body {
    background-color: #666666;

    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

div {
    border: black 5px dashed; /* For illustration only */
}

#body {
    width: 95%;
    margin: 10px auto;
    padding: 0px;

    background-color: #ffffff;
}

#header {
    background-color: #000000;
    color: #ffffff;
}

#header-left {
    float: left;
    width: 300px;
    margin: 0px;
}

#header-right {
    float: right;
    width: 200px;
    margin: 0px;
}

#header-center {
    margin-left: 300px;
    margin-right: 200px;
    padding: 1em;
}

#footer {
    background-color: #000000;
    color: #ffffff;

    font-size: smaller;
    text-align: center;
}
