div {
    border: black 5px dashed; /* For illustration only */
}

#body {
    position: absolute;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

#header-left {
    float: left;
    width: 300px;
    margin: 0px;
}

#header-right {
    float: right;
    width: 200px;
    margin: 0px;
}

#header-center {
    margin-left: 300px;
    margin-right: 200px;
    padding: 1em;
}
