body {
    background-color: #666666;

    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

a {
    color: inherit;

    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: #009900;
}

p {
    text-indent: 2em;
}

p a {
    color: #009900;
}

#body {
    width: 95%;
    margin: 10px auto;
    padding: 10px;

    background-color: #000000;
}

#header {
    background-color: #000000;
    color: #ffffff;
}

#header-left {
    float: left;
    width: 300px;
    margin: 0px;
}

#header-right {
    float: right;
    width: 200px;
    margin: 0px;
}

#header-center {
    margin-left: 300px;
    margin-right: 200px;
    padding: 1em;
}

#main {
    padding: 1em;

    background-color: #ffffff;
}

#footer {
    background-color: #000000;
    color: #ffffff;

    font-size: smaller;
    text-align: center;
}

#valid {
    position: relative;
    margin: 5px;

    clear: both;

    text-align: right;
}
