
.node-unpublished {
background-color : #fff4f4;
}
.preview .node {
background-color : #ffffea;
}
#node-admin-filter ul {
list-style-type : none;
padding : 0;
margin : 0;
width : 100%;
}
#node-admin-buttons {
float : left;
margin-left : 0.5em;
clear : right;
}
td.revision-current {
background : #ffc;
}
.node-form .form-text {
display : block;
width : 95%;
}
.node-form .container-inline .form-text {
display : inline;
width : auto;
}
.node-form .standard {
clear : both;
}
.node-form textarea {
display : block;
width : 95%;
}
.node-form .attachments fieldset {
float : none;
display : block;
}
.terms-inline {
display : inline;
}
fieldset {
margin-bottom : 1em;
padding : 0.5em;
}
form {
margin : 0;
padding : 0;
}
hr {
height : 1px;
border : 1px solid gray;
}
img {
border : 0;
}
table {
border-collapse : collapse;
}
th {
text-align : left;
padding-right : 1em;
border-bottom : 3px solid #ccc;
}
.clear-block:after {
content : ".";
display : block;
height : 0;
clear : both;
visibility : hidden;
}
.clear-block {
display : inline-block;
}
* html .clear-block {
height : 1%;
}
.clear-block {
display : block;
}
body.drag {
cursor : move;
}
th.active img {
display : inline;
}
tr.even, tr.odd {
background-color : #eee;
border-bottom : 1px solid #ccc;
padding : 0.1em 0.6em;
}
tr.drag {
background-color : #fffff0;
}
tr.drag-previous {
background-color : #ffd;
}
td.active {
background-color : #ddd;
}
td.checkbox, th.checkbox {
text-align : center;
}
tbody {
border-top : 1px solid #ccc;
}
tbody th {
border-bottom : 1px solid #ccc;
}
thead th {
text-align : left;
padding-right : 1em;
border-bottom : 3px solid #ccc;
}
.breadcrumb {
padding-bottom : 0.5em;
}
div.indentation {
width : 20px;
height : 1.7em;
margin : -0.4em 0.2em -0.4em -0.4em;
padding : 0.42em 0 0.42em 0.6em;
float : left;
}
div.tree-child {
background : url(../../misc/tree.png) no-repeat 11px center;
}
div.tree-child-last {
background : url(../../misc/tree-bottom.png) no-repeat 11px center;
}
div.tree-child-horizontal {
background : url(../../misc/tree.png) no-repeat -11px center;
}
.error {
color : #e55;
}
div.error {
border : 1px solid #d77;
}
div.error, tr.error {
background : #fcc;
color : #200;
padding : 2px;
}
.warning {
color : #e09010;
}
div.warning {
border : 1px solid #f0c020;
}
div.warning, tr.warning {
background : #ffd;
color : #220;
padding : 2px;
}
.ok {
color : #008000;
}
div.ok {
border : 1px solid #00aa00;
}
div.ok, tr.ok {
background : #dfd;
color : #020;
padding : 2px;
}
.item-list .icon {
color : #555;
float : right;
padding-left : 0.25em;
clear : right;
}
.item-list .title {
font-weight : bold;
}
.item-list ul {
margin : 0 0 0.75em 0;
padding : 0;
}
.item-list ul li {
margin : 0 0 0.25em 1.5em;
padding : 0;
list-style : disc;
}
ol.task-list li.active {
font-weight : bold;
}
.form-item {
margin-top : 1em;
margin-bottom : 1em;
}
tr.odd .form-item, tr.even .form-item {
margin-top : 0;
margin-bottom : 0;
white-space : nowrap;
}
tr.merge-down, tr.merge-down td, tr.merge-down th {
border-bottom-width : 0 !important ;
}
tr.merge-up, tr.merge-up td, tr.merge-up th {
border-top-width : 0 !important ;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
border : 2px solid red;
}
.form-item .description {
font-size : 0.85em;
}
.form-item label {
display : block;
font-weight : bold;
}
.form-item label.option {
display : inline;
font-weight : normal;
}
.form-checkboxes, .form-radios {
margin : 1em 0;
}
.form-checkboxes .form-item, .form-radios .form-item {
margin-top : 0.4em;
margin-bottom : 0.4em;
}
.marker, .form-required {
color : #f00;
}
.more-link {
text-align : right;
}
.more-help-link {
font-size : 0.85em;
text-align : right;
}
.nowrap {
white-space : nowrap;
}
.item-list .pager {
clear : both;
text-align : center;
}
.item-list .pager li {
background-image : none;
display : inline;
list-style-type : none;
padding : 0.5em;
}
.pager-current {
font-weight : bold;
}
.tips {
margin-top : 0;
margin-bottom : 0;
padding-top : 0;
padding-bottom : 0;
font-size : 0.9em;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
font-family : inherit;
font-size : inherit;
width : 14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
width : 8em;
}
dl.multiselect dt, dl.multiselect dd {
float : left;
line-height : 1.75em;
padding : 0;
margin : 0 1em 0 0;
}
dl.multiselect .form-item {
height : 1.75em;
margin : 0;
}
.container-inline div, .container-inline label {
display : inline;
}
ul.primary {
border-collapse : collapse;
padding : 0 0 0 1em;
white-space : nowrap;
list-style : none;
margin : 5px;
height : auto;
line-height : normal;
border-bottom : 1px solid #bbb;
}
ul.primary li {
display : inline;
}
ul.primary li a {
background-color : #ddd;
border-color : #bbb;
border-width : 1px;
border-style : solid solid none solid;
height : auto;
margin-right : 0.5em;
padding : 0 1em;
text-decoration : none;
}
ul.primary li.active a {
background-color : #fff;
border : 1px solid #bbb;
border-bottom : 1px solid #fff;
}
ul.primary li a:hover {
background-color : #eee;
border-color : #ccc;
border-bottom-color : #eee;
}
ul.secondary {
border-bottom : 1px solid #bbb;
padding : 0.5em 1em;
margin : 5px;
}
ul.secondary li {
display : inline;
padding : 0 1em;
border-right : 1px solid #ccc;
}
ul.secondary a {
padding : 0;
text-decoration : none;
}
ul.secondary a.active {
border-bottom : 4px solid #999;
}
#autocomplete {
position : absolute;
border : 1px solid;
overflow : hidden;
z-index : 100;
}
#autocomplete ul {
margin : 0;
padding : 0;
list-style : none;
}
#autocomplete li {
background : #fff;
color : #000;
white-space : pre;
cursor : default;
}
#autocomplete li.selected {
background : #0072b9;
color : #fff;
}
html.js input.form-autocomplete {
background-image : url(../../misc/throbber.gif);
background-repeat : no-repeat;
background-position : 100% 2px;
}
html.js input.throbbing {
background-position : 100% -18px;
}
html.js fieldset.collapsed {
border-bottom-width : 0;
border-left-width : 0;
border-right-width : 0;
margin-bottom : 0;
height : 1em;
}
html.js fieldset.collapsed * {
display : none;
}
html.js fieldset.collapsed legend {
display : block;
}
html.js fieldset.collapsible legend a {
padding-left : 15px;
background : url(../../misc/menu-expanded.png) no-repeat 5px 75%;
}
html.js fieldset.collapsed legend a {
background-image : url(../../misc/menu-collapsed.png);
background-position : 5px 50%;
}
* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
display : inline;
}
html.js fieldset.collapsible {
position : relative;
}
html.js fieldset.collapsible legend a {
display : block;
}
html.js fieldset.collapsible .fieldset-wrapper {
overflow : auto;
}
.resizable-textarea {
width : 95%;
}
.resizable-textarea .grippie {
height : 9px;
overflow : hidden;
background : #eee url(../../misc/grippie.png) no-repeat center 2px;
border : 1px solid #ddd;
border-top-width : 0;
cursor : s-resize;
}
html.js .resizable-textarea textarea {
margin-bottom : 0;
width : 100%;
display : block;
}
.draggable a.tabledrag-handle {
cursor : move;
float : left;
height : 1.7em;
margin : -0.4em 0 -0.4em -0.5em;
padding : 0.42em 1.5em 0.42em 0.5em;
text-decoration : none;
}
a.tabledrag-handle:hover {
text-decoration : none;
}
a.tabledrag-handle .handle {
margin-top : 4px;
height : 13px;
width : 13px;
background : url(../../misc/draggable.png) no-repeat 0% 0%;
}
a.tabledrag-handle-hover .handle {
background-position : 0% -20px;
}
.joined + .grippie {
height : 5px;
background-position : center 1px;
margin-bottom : -2px;
}
.teaser-checkbox {
padding-top : 1px;
}
div.teaser-button-wrapper {
float : right;
padding-right : 5%;
margin : 0;
}
.teaser-checkbox div.form-item {
float : right;
margin : 0 5% 0 0;
padding : 0;
}
textarea.teaser {
display : none;
}
html.js .no-js {
display : none;
}
.progress {
font-weight : bold;
}
.progress .bar {
background : #fff url(../../misc/progress.gif);
border : 1px solid #00375a;
height : 1.5em;
margin : 0 0.2em;
}
.progress .filled {
background : #0072b9;
height : 1em;
border-bottom : 0.5em solid #004a73;
width : 0%;
}
.progress .percentage {
float : right;
}
.progress-disabled {
float : left;
}
.ahah-progress {
float : left;
}
.ahah-progress .throbber {
width : 15px;
height : 15px;
margin : 2px;
background : transparent url(../../misc/throbber.gif) no-repeat 0 -18px;
float : left;
}
tr .ahah-progress .throbber {
margin : 0 2px;
}
.ahah-progress-bar {
width : 16em;
}
#first-time strong {
display : block;
padding : 1.5em 0 0.5em;
}
tr.selected td {
background : #ffc;
}
table.sticky-header {
margin-top : 0;
background : #fff;
}
#clean-url.install {
display : none;
}
html.js .js-hide {
display : none;
}
#system-modules div.incompatible {
font-weight : bold;
}
#system-themes-form div.incompatible {
font-weight : bold;
}
span.password-strength {
visibility : hidden;
}
input.password-field {
margin-right : 10px;
}
div.password-description {
padding : 0 2px;
margin : 4px 0 0 0;
font-size : 0.85em;
max-width : 500px;
}
div.password-description ul {
margin-bottom : 0;
}
.password-parent {
margin : 0 0 0 0;
}
input.password-confirm {
margin-right : 10px;
}
.confirm-parent {
margin : 5px 0 0 0;
}
span.password-confirm {
visibility : hidden;
}
span.password-confirm span {
font-weight : normal;
}
ul.menu {
list-style : none;
border : none;
text-align : left;
}
ul.menu li {
margin : 0 0 0 0.5em;
}
li.expanded {
list-style-type : circle;
list-style-image : url(../../misc/menu-expanded.png);
padding : 0.2em 0.5em 0 0;
margin : 0;
}
li.collapsed {
list-style-type : disc;
list-style-image : url(../../misc/menu-collapsed.png);
padding : 0.2em 0.5em 0 0;
margin : 0;
}
li.leaf {
list-style-type : square;
list-style-image : url(../../misc/menu-leaf.png);
padding : 0.2em 0.5em 0 0;
margin : 0;
}
li a.active {
color : #000;
}
td.menu-disabled {
background : #ccc;
}
ul.links {
margin : 0;
padding : 0;
}
ul.links.inline {
display : inline;
}
ul.links li {
display : inline;
list-style-type : none;
padding : 0 0.5em;
}
.block ul {
margin : 0;
padding : 0 0 0.25em 1em;
}
#permissions td.module {
font-weight : bold;
}
#permissions td.permission {
padding-left : 1.5em;
}
#access-rules .access-type, #access-rules .rule-type {
margin-right : 1em;
float : left;
}
#access-rules .access-type .form-item, #access-rules .rule-type .form-item {
margin-top : 0;
}
#access-rules .mask {
clear : both;
}
#user-login-form {
text-align : center;
}
#user-admin-filter ul {
list-style-type : none;
padding : 0;
margin : 0;
width : 100%;
}
#user-admin-buttons {
float : left;
margin-left : 0.5em;
clear : right;
}
#user-admin-settings fieldset .description {
font-size : 0.85em;
padding-bottom : 0.5em;
}
.profile {
clear : both;
margin : 1em 0;
}
.profile .picture {
float : right;
margin : 0 1em 1em 0;
}
.profile h3 {
border-bottom : 1px solid #ccc;
}
.profile dl {
margin : 0 0 1.5em 0;
}
.profile dt {
margin : 0 0 0.2em 0;
font-weight : bold;
}
.profile dd {
margin : 0 0 1em 0;
}
.fake-leaf {
font-size : 8pt;
font-style : italic;
}
li.start-collapsed ul {
display : none;
}
body {
margin : 0;
padding : 0;
min-width : 750px;
padding-top : 20px;
padding-bottom : 20px;
}
#page {
margin : 0 auto;
width : 95%;
background : #fff;
}
#header, #content {
width : 100%;
}
#header .form-item label {
color : #fff;
}
.sections {
width : 100%;
padding : 0;
}
.section .block {
padding : 15px;
}
.section.width49 {
width : 50%;
}
.section.width33 {
width : 33%;
}
.sections {
width : 100%;
}
#sidebar-left {
width : 210px;
float : left;
z-index : 2;
display : inline;
position : relative;
}
#sidebar-left .block {
padding-top : 10px;
padding-bottom : 15px;
padding-left : 10px;
padding-right : 10px;
}
#main {
float : left;
width : 100%;
display : inline;
}
body.sidebar-left #main {
margin-left : -210px;
margin-right : 0;
}
body.sidebar-left #squeeze {
margin-left : 210px;
margin-right : 0;
}
}
#squeeze {
padding : 0 10px 15px 10px;
}
tbody {
border : none;
}
body {
font-size : 82%;
font-family : Arial, Verdana, sans-serif;
line-height : 130%;
color : #000;
background-color : #fff;
}
tr.odd td, tr.even td {
padding : 0.3em;
}
tr.odd {
background : #eee;
}
tr.even {
background : #ccc;
}
h1, h2, h3, h4, h4 {
padding-bottom : 5px;
margin : 10px 0;
line-height : 125%;
}
h1 {
font-size : 160%;
}
h2 {
font-size : 125%;
}
h3 {
font-size : 110%;
}
h4 {
font-size : 100%;
}
#main h2.title {
font-size : 150%;
}
p {
margin-top : 0.5em;
margin-bottom : 0.9em;
}
a {
text-decoration : none;
}
a:hover {
text-decoration : underline;
}
fieldset {
border : 1px solid #ccc;
}
pre {
background-color : #eee;
padding : 0.75em 1.5em;
font-size : 12px;
border : 1px solid #ddd;
}
table {
font-size : 1em;
}
#masthead {
float : none;
clear : both;
line-height : normal;
}
#name-and-slogan {
float : left;
padding-bottom : 20px;
}
#site-name {
padding-top : 20px;
margin : 0 0 10px 20px;
}
#site-name a, #site-name a:hover {
font-weight : normal;
font-size : 200%;
margin : 0;
padding : 0;
}
#site-slogan {
margin : 0 0 0 20px;
font-size : 125%;
display : inline;
}
#logo-title {
float : left;
}
img#logo {
margin : 10px 0 0 10px;
}
img#roopletheme {
width : 100px;
height : 20px;
}
#search {
padding-top : 25px;
padding-right : 20px;
float : right;
}
#search .form-text, #search .form-submit {
font-size : 1.1em;
height : 1.5em;
vertical-align : middle;
}
#search .form-text {
width : 8em;
padding : 0 0.5em;
}
#mission {
font-weight : bold;
text-align : center;
padding : 0.5em 1em;
margin-top : 20px;
margin-bottom : 20px;
font-size : 85%;
}
.form-item label {
font-size : 1em;
color : #222;
}
.item-list .title {
color : #222;
}
.comment .links {
margin-bottom : 0;
}
.clr {
clear : both;
}
#primary {
line-height : 30px;
}
#primary ul {
padding : 0;
margin : 0;
list-style : none;
}
#primary li {
display : inline;
}
#primary a {
font-weight : bold;
display : block;
float : left;
padding : 0 14px 0 14px;
margin : 0 1px 0 0;
font-size : 95%;
}
#primary a {
background-position : 0% 0;
}
#primary a:hover {
text-decoration : none;
background-position : 0% -42px;
}
#primary a.active {
background-position : 0% -84px;
}
#secondary ul {
margin : 0;
padding : 0;
list-style : none;
}
#secondary li {
margin : 0;
padding : 0;
display : inline;
}
#secondary li a {
float : left;
display : block;
font-size : 90%;
padding : 0 14px 0 14px;
}
#secondary a:hover {
text-decoration : none;
}
#secondary a.active {
font-weight : bold;
}
ul.links li {
border-left : 1px solid #fff;
}
ul.links li.first {
border : none;
}
a.readon, a:hover.readon {
margin-top : 15px;
padding-left : 5px;
padding-right : 5px;
padding-top : 2px;
padding-bottom : 2px;
font-weight : bold;
text-decoration : none;
text-align : center;
}
#help {
font-size : 0.9em;
margin-bottom : 1em;
}
.messages {
background-color : #eee;
border : 1px solid #ccc;
padding : 0.3em;
margin-bottom : 1em;
}
.error {
border-color : red;
}
#footer-region {
text-align : center;
}
#header .block {
text-align : center;
}
#footer-message {
text-align : center;
margin : 0;
font-size : 90%;
padding : 1em;
}
#footer-message a {
font-weight : bold;
}
div#breadcrumb {
clear : both;
font-size : 80%;
padding-top : 3px;
}
.title, .title a {
font-weight : bold;
margin : 0 auto;
}
.submitted {
font-size : 0.8em;
}
.links a {
font-weight : bold;
}
.block .title {
margin-bottom : 0.25em;
}
.node {
margin : 0.5em 0 2em 0;
}
.sticky {
padding : 0.5em;
background-color : #eee;
border : 1px solid #ddd;
}
.node .content, .comment .content {
margin : 0.5em 0 0.5em 0;
}
.node .taxonomy {
font-size : 0.8em;
padding-left : 1.5em;
}
.node .picture {
border : 1px solid #ddd;
float : right;
margin : 0.5em;
}
.comment {
padding : 0.5em;
margin-bottom : 1em;
}
.comment .title a {
font-weight : normal;
}
.comment .new {
text-align : right;
font-weight : bold;
font-size : 0.8em;
float : right;
color : red;
}
.comment .picture {
float : right;
margin : 0.5em;
}
#aggregator .feed-source {
background-color : #eee;
border : 1px solid #ccc;
padding : 1em;
margin : 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
font-style : italic;
font-size : 0.9em;
}
#aggregator .title {
margin-bottom : 0.5em;
}
#aggregator h3 {
margin-top : 1em;
}
#forum table {
width : 100%;
}
#forum td {
padding : 0.5em;
}
#forum td.forum, #forum td.posts {
background-color : #eee;
}
#forum td.topics, #forum td.last-reply {
background-color : #ddd;
}
#forum td.container {
background-color : #ccc;
}
#forum td.container a {
color : #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
height : 1.5em;
border : 1px solid #bbb;
}
#forum td .links {
padding-top : 0.7em;
font-size : 0.9em;
}
#profile .profile {
clear : both;
padding : 0.5em;
margin : 1em 0;
}
#profile .profile .name {
padding-bottom : 0.5em;
}
.block-forum h3 {
margin-bottom : 0.5em;
}
div.admin-panel .body {
background : #f4f4f4;
}
div.admin-panel h3 {
padding : 5px 8px 5px;
margin : 0;
}
.poll .title {
color : #000000;
}
.section {
float : left;
}
#section1, #section2 {
padding-top : 10px;
}
#content-top h2, #content-top h2.title, #content-bottom h2, #content-bottom h2.title {
font-size : 125%;
}
.boxborder {
padding : 0 7px 0 0;
}
.bi {
padding : 0 0 0 7px;
}
.bt {
height : 7px;
margin : 0 -7px;
line-height : 0;
font-size : 0;
}
.bt div {
width : 7px;
height : 7px;
line-height : 0;
font-size : 0;
}
.bb {
height : 7px;
margin : 0 -7px;
line-height : 0;
font-size : 0;
}
.bb div {
width : 7px;
height : 7px;
line-height : 0;
font-size : 0;
}
.unstyled-block {
padding : 10px;
}
.rollover1-block {
margin : 5px;
}
.rollover-block h2 {
padding : 2px 5px;
}
.rollover-block ul {
list-style : none;
padding : 0;
margin : 0;
}
.rollover-block ul li, .rollover-block ul li.leaf, .rollover-block ul li.collapsed {
padding : 0 0 0 0;
list-style-image : none;
list-style-type : none;
padding : 0;
margin : 0;
}
.rollover-block ul li a {
margin : 0;
padding : 0 10px;
display : block;
text-decoration : none;
}
.custom-inbox {
padding : 10px;
}
.no-margins-block {
padding : 0;
margin : 0;
}
.no-margins-block p {
margin : 0;
}
.stripebox h2 {
margin : 0 -9px 5px -9px;
padding : 0 5px;
}
.blk-outline, .blk-solid {
margin : 5px;
padding : 5px;
}
#leaderboard .blk-outline, #leaderboard .blk-solid, #banner .blk-outline, #banner .blk-solid {
margin : 0;
padding : 5px;
}
#sidebar-left .customframeblock {
padding : 0;
margin-bottom : 10px;
}
body {
color : #292929;
background : #adadad url(../images/green/bg.png) repeat-x 0% 0%;
}
a:link, a:visited, a:hover, .title, .title a, .submitted, .links, .node .taxonomy, #aggregator .news-item .categories, #aggregator .source, #aggregator .age, #forum td .name, div.admin-panel .description {
color : #047504;
}
div#section1 {
background : #41b61c url(../images/green/topregion-bg.png) repeat-x 0% 0%;
}
div#section1 .contentheading, div#section1 div.moduletable h3, div#section1 {
color : #f0f0f0;
}
div#section1 .title {
color : #fff;
}
div#section1 a, div#section1 a:link, div#section1 a:visited {
color : #a8ffa2;
}
div#section1 a.readon, div#section1 a:visited.readon, div#section1 a:hover.readon {
background : #9bb3d1;
color : #b61c1e;
}
div#section2 {
background : #170808 url(../images/green/bottomregion-bg.png) repeat-x 0% 0%;
color : #fff;
}
div#section2 .title {
color : #fff;
}
div#section2 .contentheading, div#section2 div.moduletable h3, div#section2 {
color : #dedede;
}
div#section2 a, div#section2 a:link, div#section2 a:visited {
color : #9efba0;
}
div#section2 a.readon, div#section2 a:visited.readon, div#section2 a:hover.readon {
background : #fff;
color : #081708;
}
div#masthead {
background : #170808 url(../images/green/mast-bg.png) repeat-x 0% 0%;
}
div#header .header-right {
background : url(../images/green/mast-r.png) no-repeat 100% 0%;
}
div#header .header-left {
background : url(../images/green/mast-l.png) no-repeat 0% 0%;
}
div#footer-wrapper {
background : #170808 url(../images/green/footer-bg.png) repeat-x 0% 0%;
}
div#footer-wrapper .footer-right {
background : url(../images/green/footer-r.png) no-repeat 100% 0%;
}
div#footer-wrapper .footer-left {
height : 15px;
overflow : hidden;
background : url(../images/green/footer-l.png) no-repeat 0% 0%;
}
div#breadcrumb, div#breadcrumb a {
color : #41b61c;
}
div#middlecontainer {
background : #ffffff url(../images/green/body-bg.png) repeat-x 0% 0%;
}
div#middlecontainer a, div#middlecontainer a:link, div#middlecontainer a:visited {
color : #039203;
}
div#middlecontainer a.readon, div#middlecontainer a:visited.readon, div#middlecontainer a:hover.readon {
background : #047504;
color : #fff;
}
div#middlecontainer .title, div#middlecontainer h2 {
color : #166f00;
}
#header .block {
color : #fff;
}
#header .block a {
color : #a8ffa2;
}
#header .block h2, #header .block h2.title {
color : #fff;
}
#footer-region {
background-color : #170808;
}
#footer-region .block {
color : #fff;
}
#footer-region .block a {
color : #a8ffa2;
}
#footer-region .block h2, #footer .block h2.title {
color : #fff;
}
#footer {
background-color : #170808;
color : #ffffff;
}
#footer a {
color : #adadad;
}
div#navigation {
background : #292929 url(../images/green/menu-bg.png) repeat-x;
}
#primary a {
border-right : 1px solid #999;
color : #fff;
}
#primary a:hover, #primary a.active {
color : #fff;
background : url(../images/green/menu-bg-over.png) repeat-x;
border-right : 1px solid #999;
}
#secondary {
border-top : 1px solid #292929;
}
#secondary li a {
color : white;
background : url(../images/green/menu-div.png) repeat-y 100% 0%;
}
#secondary a:hover {
color : white;
background-color : #555555;
}
#mission {
border : 1px solid #047504;
color : #000;
}
#mission a, #mission a:visited {
color : #41b61c;
}
#site-name a, #site-name a:hover {
color : #fff;
}
#site-slogan {
color : #fff;
}
#search .form-text, #search .form-submit {
border : 1px solid #000;
}
.comment {
border : 1px solid #41b61c;
}
.comment .picture {
border : 1px solid #41b61c;
}
#profile .profile {
border : 1px solid #41b61c;
}
.boxborder {
background : url(../images/green/box-right.gif) repeat-y 100% 0%;
}
.bi {
background : url(../images/green/box-left.gif) repeat-y 0% 0%;
}
.bt {
background : url(../images/green/box.gif) no-repeat 100% 0%;
}
.bt div {
background : url(../images/green/box.gif) no-repeat 0% 0%;
}
.bb {
background : url(../images/green/box.gif) no-repeat 100% 100%;
}
.bb div {
background : url(../images/green/box.gif) no-repeat 0% 100%;
}
.color0-box-page-bg {
background : #fff;
}
.color1-box-page-bg {
background : #a8ffa2;
color : #000;
}
.color2-box-page-bg {
background : #41b61c;
color : #e1e0c6;
}
div#middlecontainer .color2-box-page-bg .title, div#middlecontainer .color2-box-page-bg h2 {
color : #fff;
}
div#middlecontainer .color2-box-page-bg a, div#middlecontainer .color2-box-page-bg a:link, div#middlecontainer .color2-box-page-bg a:visited {
color : #a8ffa2;
}
.color3-box-page-bg {
background : #000;
color : #fff;
}
div#middlecontainer .color3-box-page-bg a, div#middlecontainer .color3-box-page-bg a:link, div#middlecontainer .color3-box-page-bg a:visited {
color : #a8ffa2;
}
#sidebar-left .color3-box-page-bg h2 {
color : #a8ffa2;
}
.stripe0-box-page-bg {
background : #fff;
}
#sidebar-left .stripe0-box-page-bg h2 {
border-top : 1px solid #000;
border-bottom : 1px solid #000;
}
.stripe1-box-page-bg {
background : #a8ffa2;
color : #000;
}
#sidebar-left .stripe1-box-page-bg h2 {
color : #000;
border-top : 1px solid #000;
border-bottom : 1px solid #000;
}
.stripe2-box-page-bg {
background : #41b61c;
color : #e1e0c6;
}
#sidebar-left .stripe2-box-page-bg h2 {
border-top : 1px solid #fff;
border-bottom : 1px solid #fff;
color : #fff;
}
div#middlecontainer .stripe2-box-page-bg a, div#middlecontainer .stripe2-box-page-bg a:link, div#middlecontainer .stripe2-box-page-bg a:visited {
color : #a8ffa2;
}
.stripe3-box-page-bg {
background : #000;
color : #fff;
}
div#middlecontainer .stripe3-box-page-bg a, div#middlecontainer .stripe3-box-page-bg a:link, div#middlecontainer .stripe3-box-page-bg a:visited {
color : #a8ffa2;
}
#sidebar-left .stripe3-box-page-bg h2 {
border-top : 1px solid #fff;
border-bottom : 1px solid #fff;
color : #a8ffa2;
}
.blk-outline1 {
border : 1px solid #fff;
}
.blk-outline1 h2, .blk-outline1 a {
color : #fff;
}
.blk-outline2 h2, .blk-outline2 a {
color : #a8ffa2;
}
.blk-outline3 {
border : 1px solid #000;
}
.blk-outline3 h2, .blk-outline3 a {
color : #000;
}
div#section2 .blk-outline3 {
border : 1px solid #41b61c;
}
div#section2 .blk-outline3 h2, .blk-outline3 a {
color : #41b61c;
}
.blk-solid1 {
background : #fff;
color : #000;
}
.blk-solid1 a {
color : #41b61c;
}
div#section1 .blk-solid1 a, div#section1 .blk-solid1 a:link, div#section1 .blk-solid1 a:visited {
color : #41b61c;
}
div#section2 .blk-solid1 a, div#section2 .blk-solid1 a:link, div#section2 .blk-solid1 a:visited {
color : #41b61c;
}
.blk-solid2 {
background : #a8ffa2;
color : #000;
}
.blk-solid2 a {
color : #fff;
}
div#section1 .blk-solid2 a, div#section1 .blk-solid2 a:link, div#section1 .blk-solid2 a:visited {
color : #41b61c;
}
div#section2 .blk-solid2 a, div#section2 .blk-solid2 a:link, div#section2 .blk-solid2 a:visited {
color : #41b61c;
}
.blk-solid3 {
background : #000;
color : #fff;
}
.blk-solid3 a {
color : #a8ffa2;
}
div#section2 .blk-solid3 {
background : #41b61c;
color : #fff;
}
div#section2 .blk-solid3 h2, .blk-solid3 a {
color : #a8ffa2;
}
#suckerfishmenu .block {
margin-bottom : 0;
padding-bottom : 0;
}
#suckerfishmenu .block, #suckerfishmenu .box {
padding : 0;
}
#suckerfishmenu h2 {
display : none;
}
#suckerfishmenu {
line-height : 28px;
background : #818181 url(../images/green/menu-bg.png) repeat-x;
}
#suckerfishmenu ul.menu {
padding : 0 0 0 0;
list-style : none;
z-index : 3;
display : inline;
}
#suckerfishmenu a {
background : #818181 url(../images/green/menu-bg.png) repeat-x;
color : #fff;
display : block;
padding : 0 14px 0 14px;
text-decoration : none;
font-size : 95%;
font-weight : bold;
border-right : 1px solid #999;
}
#suckerfishmenu a:active, #suckerfishmenu a:hover {
background : #818181 url(../images/green/menu-bg-over.png) repeat-x;
text-decoration : none;
border-right : 1px solid #999;
}
#suckerfishmenu li {
display : inline;
float : left;
margin : 0;
padding : 0;
height : 1%;
}
#suckerfishmenu ul.menu ul {
padding : 0;
margin-left : -1px;
list-style : none;
background : #999;
}
#suckerfishmenu ul.menu li ul {
position : absolute;
width : 200px;
left : -999em;
}
#suckerfishmenu ul.menu li li {
float : left;
width : 200px;
margin-bottom : 1px;
}
#suckerfishmenu ul.menu li li a:link, #suckerfishmenu ul.menu li li a:visited {
color : #fff;
background : #818181;
width : 170px;
border-bottom : 1px solid #999;
border-left : 1px solid #999;
font-weight : normal;
}
#suckerfishmenu ul.menu li li.expanded a {
background : #818181 url(../images/menu_arrow.png) no-repeat 100% 50%;
}
#suckerfishmenu ul.menu li li.expanded a:active, #suckerfishmenu ul.menu li li.expanded a:hover {
background : #41b61c url(../images/menu_arrow.png) no-repeat 100% 50%;
}
#suckerfishmenu ul.menu li ul a:active, #suckerfishmenu ul.menu li ul a:hover {
background : #41b61c;
text-decoration : none;
}
#suckerfishmenu ul.menu li li.expanded ul.menu a {
background : #818181;
}
#suckerfishmenu ul.menu li li.expanded ul.menu a:active, #suckerfishmenu ul.menu li li.expanded ul.menu a:hover {
background : #41b61c;
}
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
background : #818181 url(../images/menu_arrow.png) no-repeat 100% 50%;
}
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:active, #suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
background : #41b61c url(../images/menu_arrow.png) no-repeat 100% 50%;
}
#suckerfishmenu ul.menu li ul a {
color : #fff;
width : 200px;
line-height : 24px;
font-size : 95%;
}
#suckerfishmenu ul.menu li ul a:active, #suckerfishmenu ul.menu li ul a:hover {
color : #fff;
background : #41b61c;
text-decoration : none;
}
#suckerfishmenu ul.menu li ul ul {
margin : -25px 0 0 199px;
}
#suckerfishmenu ul.menu li:hover ul ul, #suckerfishmenu ul.menu li:hover ul ul ul, #suckerfishmenu ul.menu li.sfhover ul ul, #suckerfishmenu ul.menu li.sfhover ul ul ul {
left : -999em;
}
#suckerfishmenu ul.menu li:hover ul, #suckerfishmenu ul.menu li li:hover ul, #suckerfishmenu ul.menu li li li:hover ul, #suckerfishmenu ul.menu li.sfhover ul, #suckerfishmenu ul.menu li li.sfhover ul, #suckerfishmenu ul.menu li li li.sfhover ul {
left : auto;
}
#page {
width : 95%;
}
body.sidebar-left #main {
margin-left : -210px;
}
body.sidebars #main {
margin-left : -210px;
}
body.sidebar-left #squeeze {
margin-left : 210px;
}
body.sidebars #squeeze {
margin-left : 210px;
}
#sidebar-left {
width : 210px;
}
body {
font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
