{% extends "site.html" %}
{% from "entrydiv.html" import print_entry %}
{% block main %}
  {{ super() }}
  {% for entry in page.subpages: %}
    {{ print_entry(entry) }}
  {% endfor %}
{% endblock %}
{#
<div class="pagination">
  {% if page > 0: %}
    <a href="{{ url_for("index", page=page - 1) }}">
      {{ "<< Page %d" % page }}
    </a>
  {% endif %}
  ||
  {% if page < page_count %}
    <a href="{{ url_for("index", page=page + 1) }}">
      {{ "Page %d >>" % (page + 2) }}
    </a>
  {% endif %}
</div>
#}
