{% extends "site.html" %}

{% from "entrydiv.html" import print_entry %}

{% macro print_pagination() %}
  <div class="pagination">
    {% if pagination.prev_page %}
      <a href="{{ pagination.prev_page.url }}">
        {{ "<< Page %d" % (pagination.cur_page - 1) }}
      </a>
    {% endif %}
    ||
    {% if pagination.next_page %}
      <a href="{{ pagination.next_page.url }}">
        {{ "Page %d >>" % (pagination.cur_page + 1) }}
      </a>
    {% endif %}
  </div>
{% endmacro %}

{% block main %}
  {{ super() }}
  {{ print_pagination() }}
  {% for entry in pagination.page_items %}
    {{ print_entry(entry) }}
  {% endfor %}
  {{ print_pagination() }}
{% endblock %}
